/*
body {
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #1e1e1e;
}
*/


* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #1e1e1e;
	margin:10px;
	padding: 0px 20px 0px 20px;
	color: white;
	font-family: 'Andale Mono'
}


p {
	margin: 10px 0px 0px 10px;
	color: white;
	font-family: "Andale Mono", monospace;
	font-size: 200%;
}

button {
  color: white;
  font-family: 'Andale Mono'; /* monospace */
  font-weight: 900;
  font-size: 75%;
  background-color: #004577;
  border: 0.5em solid #004577; /* half? */
  min-width: 6.5em;
  height: 2.5em; /* 2.5 */
}

button:hover {
  background-color: #6DA9C7; /*005878; /*#742700;*/
  border: 0.5em solid #6DA9C7; /*005878; /*#742700;*/
}

button:focus {
  background-color: #6DA9C7; /*005878; /*#742700;*/
  border-color: #6DA9C7; /*005878; /*#742700;*/
}

button:active {
  background-color: #6DA9C7; /*005878; /*#742700;*/
  border-color: #6DA9C7; /*005878; /*#742700;*/
}

canvas {
	background-color: none;
	margin: 0px;
}

#graphdiv {
	height: 300px; /* 200px; */
	width: 300px; /* 600px; */
}

#textdiv {
	word-break: break-all;
}

#warning {
	color: red;
	font-size: 100%;
}

#dataText {

}
