<!DOCTYPE HTML>
<html>
<head>
	<title>Index - testGraph</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'testGraph/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'testGraph/dygraphs/dygraph.css' %}">
	<script type="text/javascript" src="{% static 'testGraph/dygraphs/dygraph.js' %}"></script>
</head>
<body>
	<p id="hello">Accel-X over 30 mins:</p><br>
	<div id="graphdiv"></div><br>
	<button id="ACCEL_X">ACCEL_X</button>
	<button id="ACCEL_Y">ACCEL_Y</button>
	<button id="ACCEL_Z">ACCEL_Z</button>

	<button id="GYRO_X">GYRO_X</button>
	<button id="GYRO_Y">GYRO_Y</button>
	<button id="GYRO_Z">GYRO_Z</button>

	<button id="BARO">BARO</button>
	<button id="TEMP">TEMP</button>
	
	<script type="text/javascript" src="{% static 'testGraph/graph.js' %}"></script>
	<!-- This website specific JS script, while above script for cross website graphing functionality -->
</body>
</html>