<!DOCTYPE HTML>
<html>
<head>
	<title>Index - temp</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'graphs/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'testGraph/dygraphs/dygraph.css' %}">
	<script type="text/javascript" src="{% static 'testGraph/dygraphs/dygraph.js' %}"></script>
</head>
<body>
	<p>Acceleration</p><br>
	<div id="graphdiv"></div>
	<div id="textdiv"></div>
	<p id="warning">WARNING!!! Some data points missing</p>

	<br>
	
	<script type="text/javascript" src="{% static 'graphs/index.js' %}"></script>
	<script type="text/javascript" src="{% static 'accel/index.js' %}"></script>
</body>
</html>