body {
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
}

p {
	margin: 10px 0px 0px 10px;
	color: blue;
	font-family: monospace;
	font-size: 200%;
}

button {
	border: 1px solid black;
	font-family: monospace;
}