{% extends "reachSentinelLite/base.html" %}
{% load static %}
{% block titleMain %}Dashboard - Reach{% endblock %}
{% load static %}
{% block loadLinks %}
<link rel="stylesheet" type="text/css" href="{% static 'graphs/style.css' %}">
{% endblock %}
{% block mainBody %}
<!--
	Instead of iframes, what about chart placeholder divs, where we have the specific data div name as the class name?
-->

	<div class="graphContainer">
		<div class="graphTitle">TEMPERATURE</div>
		<br>
		<div class="graphDiv">
			<canvas class="drawChart", id="drawChart"></canvas>
			<div class="textDiv", id="textDiv"></div>
		</div>
		<br>
		<div class="buttonContainer">
			<button id="full_data">Full data</button>
			<button id="text">Text</button>
			<button id="tenmins">10 mins</button>
			<button id="thirtymins">30 mins</button>
		</div>
	</div>


	<br>





	<!--br>
	<button id="update">UPDATE {% csrf_token %}</button>
	<p id="updateText">Button</p-->

	{% endblock %}
	{% block toLoad %}
	<script type="text/javascript" src="{% static 'dashboard/index.js' %}"></script>
	<script type="text/javascript" src="{% static 'node_modules/chart.js/dist/Chart.js' %}"></script>
	<script type="text/javascript" src="{% static 'graphs/index.js' %}"></script>
	<!--script>
		showGraph(TEMP, false, 40*MINS);
	</script-->
	{% endblock %}
